<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= GROOM_FULLNAME %> ❤️ <%= BRIDE_FULLNAME %> 결혼합니다." />
  <meta property="og:image" content="/preview_image.png" />
  <meta property="og:url" content="%BASE_URL%/" />
  <meta property="og:description" content="<%= DESCRIPTION %>" />
  <link rel="preload" href="/MapoGoldenPierA.woff" as="font" crossorigin />
  <link rel="preload" href="/AlluraRegular.woff" as="font" crossorigin />
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/font.css" />
  <title>
    <%= GROOM_FULLNAME %> ❤️ <%= BRIDE_FULLNAME %> 결혼합니다.
  </title>
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/index.tsx"></script>
  <div style="
	    position: fixed;
	    bottom: 10px;
	    left: 0;
	    width: 100%;
	    background-color: transparent;
	    color: #888;
	    text-align: center;
	    padding: 0;
	    font-size: 0.6rem;
	    letter-spacing: 1px;
	    z-index: 9999;
	    border: none;
	    pointer-events: none;
	    text-shadow: 0 1px 2px rgba(255,255,255,0.8);
      font-family: 'sjy';
	">
    동규♥&#xFE0E;은연 all rights reserved
  </div>
</body>

</html>